<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [121]:
!pip uninstall -y html5lib
!pip install html5lib beautifulsoup4 lxml
!pip install pandas
!pip install pandas html5lib beautifulsoup4 lxml
!pip install --force-reinstall html5lib beautifulsoup4
!pip install lxml
!pip install html5lib

Found existing installation: html5lib 1.1
Uninstalling html5lib-1.1:
  Successfully uninstalled html5lib-1.1
Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.12.3)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.9.2)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from beautifulsoup4) (2.4.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.12.3)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.9.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from beautifulsoup4) (2.4.1)
Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Collecting six>=1.9 (from html5lib)
  Using cached six-1.17.0-py2.py3-none-any.whl (11 kB)
Collecting webencodings (from html5lib)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Using cached soupsieve-2.4.1-py3-none-any.whl (36 kB)
Installing collected packages: webencodings, soupsieve, six, html5lib, beautifulsoup4
  Attempting uninstall: webencodings
    Found existing installation: webencodings 0.5.1
    Uninstalling webencodings-0.5.1:
      Successfully uninstalled webencodings-0.5.1
  Attempting uninstall: soupsieve
    Found existing installation: soupsieve 2.4.1
    Uninstalling soupsieve-2.4.1:
      Successfully uninstalled soupsieve-2.4.1
  Attempting uninstall: six
    Found existing installation: six 1.17.0
    Uninstalling six-1.17.0:
      Successfully uninstalled six-1.17.0
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.1
    Uninstalling html5lib-1.1:
      Successfully uninstalled html5lib-1.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.12.3
    Uninstalling beautifulsoup4-4.12.3:
      Successfully uninstalled beautifulsoup4-4.12.3
Successfully installed beautifulsoup4-4.12.3 html5lib-1.1 six-1.17.0 soupsieve-2.4.1 webencodings-0.5.1
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.9.2)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)

In [122]:
!which python  # Check the Python path
!pip show html5lib  # Confirm html5lib installation
!pip show pandas  # Confirm pandas installation

/home/jupyterlab/conda/envs/python/bin/python
Name: html5lib
Version: 1.1
Summary: HTML parser based on the WHATWG HTML specification
Home-page: https://github.com/html5lib/html5lib-python
Author:
Author-email:
License: MIT License
Location: /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages
Requires: six, webencodings
Required-by:
Name: pandas
Version: 1.3.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages
Requires: numpy, python-dateutil, pytz
Required-by: seaborn, statsmodels, systemml

In [123]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [124]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a webpage
import pandas as pd

Download the webpage at the url

In [125]:
#your code goes here
# Download the webpage content
response = requests.get(url)
if response.status_code == 200:
    print("Successfully fetched the webpage.")
else:
    print("Failed to fetch the webpage. Status code:", response.status_code)

Successfully fetched the webpage.

Create a soup object

In [126]:
#your code goes here
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

Scrape the `Language name` and `annual average salary`.

In [127]:
# Find the table containing the data
table = soup.find('table')
# Read the table into a DataFrame
df = pd.read_html(str(table))[0]

# Display the DataFrame
df

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [128]:
print(df.columns)

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [129]:
df.head()

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy

In [130]:
df.columns = df.iloc[0]  # Use the first row as column headers
df = df.drop(0)  # Drop the first row now that it's used as header

In [131]:
# Ensure 'Average Annual Salary' is correctly named after cleaning
df['Average Annual Salary'] = df['Average Annual Salary'].str.replace('$', '', regex=True).str.replace(',', '', regex=True)
df['Average Annual Salary'] = pd.to_numeric(df['Average Annual Salary'])

# Sort by 'Average Annual Salary' in descending order
df_sorted = df.sort_values(by=['Average Annual Salary'], ascending=False)

# Display the sorted DataFrame
df_sorted

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
5,5,Swift,Apple,130801,Easy
1,1,Python,Guido van Rossum,114383,Easy
6,6,C++,Bjarne Stroustrup,113865,Hard
4,4,Javascript,Netscape,110981,Easy
2,2,Java,James Gosling,101013,Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.",94082,Difficult
3,3,R,"Robert Gentleman, Ross Ihaka",92037,Hard
7,7,C#,Microsoft,88726,Hard
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.",84793,Easy
8,8,PHP,Rasmus Lerdorf,84727,Easy

Save the scrapped data into a file named *popular-languages.csv*

In [132]:
# your code goes here
df.to_csv('popular-Languages.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).